.main {
  width: 960px;
  margin: auto;
  margin-top: 2%;
}
table {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 7px;
  /* min-width: 150px; */
}

tr:nth-child(even) {
  background: lightsteelblue;
}

.taxable {
  margin-top: 4%;
  border: 1px solid #ddd;
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  background: #ddd;
  text-align: center;
  font-weight: bolder;
}
input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
  flex: 1;
}

button {
  margin-top: 1.6%;
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
  background: lightsteelblue;
  width: 20%;
}

.tax_message {
  margin-top: 3%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px 0;
  color: #0f0a5f;
  border: 1px dashed #b3b8bf;
}

.display_none {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_group {
  display: flex;
  align-self: normal;
}

.message {
  margin: 2px;
}
.suggestion {
  font-weight: bold;
  color: #22862e;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
